.start{
margin: 10px;
font-size: larger;
font-weight: bolder;
}

/* HEADERS */
.point:hover{
    cursor: pointer;
}

.hide{
    visibility: hidden;
}
.noHide{
    visibility: visible;
}

.button{
    margin: 25px;
    width: 50%;
    height: 10%;
}